KUBELET_OPTS="--logtostderr=true \
--v=2 \
--hostname-override={{ ansible_nodename }} \
--kubeconfig=/opt/kubernetes/cfg/kubelet.kubeconfig \
--bootstrap-kubeconfig=/opt/kubernetes/cfg/bootstrap.kubeconfig \
--config=/opt/kubernetes/cfg/kubelet-config.yml \
--cert-dir=/opt/kubernetes/ssl \
--network-plugin=cni \
--volume-plugin-dir=/usr/libexec/kubernetes/kubelet-plugins/volume/exec \
--pod-infra-container-image={{ registry_repo }}:{{ registry_port }}/pause:3.2"
